<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Azure AI Credentials-->
		<add key="AzureAIUrl" value="endpoint" />
		<add key="AzureAIKey" value="AiKey" />
		<add key="YourGithubAlias" value="/YourGithubAlias" />

		<!--Input-->
		<add key="SubjectListFilePath" value="user-input\want-to-learn.json" />
		<add key="AiQuestionFilePath" value="user-input\raw-questions.json" />
		
		<!--Output-->
		<add key="AiOutPutDirPathText" value="output" />
		
	</appSettings>
</configuration>